package-lock=false
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
electron_mirror=https://npm.taobao.org/mirrors/electron/
registry=http://maven.cqoak.ml/repository/npm-public/
_auth=YWRtaW46YWRtaW4xMjM=
email=cjahv@qq.com
always-auth=true